/* @import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

header > strong { 
    padding: 15px;
    position: absolute;
}

header {
    display: grid;
    justify-content: center;
}

nav {
    padding: 20px;
    display: grid;
    justify-items: center;
}

footer > span {
    padding: 20px;
    position: absolute;
    bottom: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    transition: all .4s;
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a:hover {
    color: black;
}

.m-b-md {
    padding: 20px;
}

.text-left {
    text-align: justify;
}

.container-about {
    padding: 5px 20px;
}

.container-about > p {
    text-align: justify;
}

.container-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 20px;
}


.container-news.page {
    grid-template-columns: 1fr;
    grid-gap: unset;
}

.container-news.page > p {
    text-align: justify;
}

.container-news a {
    text-decoration: none;
    color: black;
}

.container-news a > p {
    transition: all .5s;
    opacity: .6;
}

.container-news a:hover > p {
    opacity: 1;
}

.container-categories {
    background: #f8f8f8;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 20px;
}

.container-categories ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.container-categories ul a {
    transition: all .4s;
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container-categories ul a:hover {
    color: black;
    text-decoration: underline;
} */